<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Registro de ususario</h1>
    <form action="/validar" method="post">
       RUT:
       <input type="number" name="rut" id="rut"><br><br>

       nombre:
       <input type="text" name="nombre" id="nombre"><br><br>

       Apellido:
       <input type="text" name="primer_apellido" id="primer_apellido"><br><br>

       Direccion:
       <input type="text" name="direccion" id="direccion"><br><br>

       Correo:
       <input type="email" name="correo_electronico" id="correo_electronico"><br><br>

       Password:
       <input type="password" name="pass" id="pass"><br><br>

       <input type="submit" value="Registrar">

        <p>ya te haz registrado? - <a href="/login">logueate</a></p>

    </form>
</body>
</html>